.c-card {
  background-color: $white;
  color: $black;
  padding: 25px 20px;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  @media (min-width: 800px) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    color: $white;
  }

  &__title {
    font-size: 0.9375rem;
    margin-bottom: 0.625em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: bold;
    }

  }

  &__values {
    font-size: 1.375rem;
  }

}