.c-table {
  display: block;
  width: 100%;
  border-spacing: 0 0.5rem;
  overflow-x: auto;

  thead th {
    background-color: $white;
    color: $grayishBlue;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.9375rem;
    padding: 1rem 2rem;
    text-align-last: left;
  }

  tbody td {
    background-color: $white;
    padding: 1rem 2rem;
  }

}